@page "/lancamentos/historico"
@inherits ListTransactionsPage

<MudText Typo="Typo.h3">Lançamentos</MudText>
<div class="d-flex justify-end my-4">
	<MudButton Variant="Variant.Filled"
			   Color="Color.Primary"
			   StartIcon="@Icons.Material.TwoTone.Add"
			   Href="/lancamentos/novo">
		NOVO LANÇAMENTO
	</MudButton>
</div>
<MudDataGrid Items="@Transactions"
			 Filterable="false"
			 QuickFilter="Filter"
			 Hideable="true"
			 ColumnResizeMode="ResizeMode.Column">
	<ToolBarContent>
		<MudText Typo="Typo.h6">Lançamentos</MudText>
		<MudSpacer />
		<MudTextField @bind-Value="SearchTerm"
					  Placeholder="Filtrar..."
					  Adornment="Adornment.Start"
					  AdornmentIcon="@Icons.Material.Filled.Search"
					  Immediate="true"
					  IconSize="Size.Medium"
					  Class="mt-0" />
	</ToolBarContent>
	<Columns>
		<PropertyColumn Property="x => x.Title" Title="Lançamento" />
		<TemplateColumn Title="Tipo" Filterable="false">
			<CellTemplate>
				@if (context.Item.Type == ETransactionType.Deposit)
				{
					<MudChip Color="Color.Success" Size="Size.Small" Variant="Variant.Filled">
						Entrada
					</MudChip>
				}
				else
				{
					<MudChip Color="Color.Error" Size="Size.Small" Variant="Variant.Filled">
						Saída
					</MudChip>
				}
			</CellTemplate>
		</TemplateColumn>
		<PropertyColumn Property="x => x.Amount" Format="C" Title="Valor" Sortable="true">
			<FooterTemplate>
				@context.Items.Sum(x => x.Amount).ToString("C")
			</FooterTemplate>
		</PropertyColumn>
		<TemplateColumn Class="justify-end">
			<CellTemplate>
				<MudStack Row>
					<MudIconButton Icon="@Icons.Material.Filled.Edit" Href="@($"/lancamentos/editar/{context.Item.Id}")" Color="Color.Info" />
					<MudIconButton Icon="@Icons.Material.Filled.Delete"
								   Color="Color.Error" aria-label="Excluir"
								   OnClick="() => OnDeleteButtonClickedAsync(context.Item.Id, context.Item.Title)" />
				</MudStack>
			</CellTemplate>
		</TemplateColumn>
	</Columns>
</MudDataGrid>